.question {
    &__container {
        color: #000;
        font-size: 20px;
        padding: 5px;
        border-radius: 6px;
    }

    &__entire-card {
        width: 50%;
    }

    &__question {
        text-align: center;
        &--anwser {
            border: 1px solid gray;
            border-radius: 6px;
            color: #000;
            min-width: 350px;
            margin-top: 5px;
        }
    }
    &__result-button {
        margin-top: 20px;
        text-decoration: none;
    }
}

.questions {
    border-radius: 6px;
    padding: 10px;
    height: auto;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.question-page {
    &__container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
}